body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.form{
    text-align: center;
    margin: 150px 200px;
    font-size: 2rem;
}

.form h2{
    font-size: 4rem;
    color: goldenrod;
    margin: 20px;
}

.form legend{
    font-size: 3rem;
}

.form p{
    margin: 20px 0px;
}

.form input{
    margin: 20px 0px;
}

.form input[type=text]{
    width: 200px;
}

.form input[type=submit]{
    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(0, 119, 255);
    border-radius: 2rem;
    font-size: 1rem;
}

/*#mensagemErro {
    font-size: 1.2em;
    font-weight: bold;
    padding: 4px;
    color: red;
}*/




